/* colors */
:root {
  --text_color: #918ca4;
}
/* typography */
html {
  font-size: 62.5% !important;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif !important;
  font-size: 2.4rem !important;
  background-color: beige;
}
h1,
h2,
h3 {
  font-weight: 700;
  color: black;
  margin-bottom: 1rem !important;
}
h1 {
  font-size: 7rem;
  margin-top: 0.5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  color: beige;
  font-size: 3rem;
}
p {
  color: var(--text_color);
  margin-top: 0;
  margin-left: 1rem;
}
header {
  margin-top: 5rem;
}

/* links */
a {
  text-decoration: none;
  color: #5c5a5a;
  transition: 300ms;
}
a:hover {
  color: black;
  font-size: 3.5rem;
  text-decoration: none;
}
.link_arrow {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link_arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: 500ms;
}
.link_arrow:hover::after {
  margin-left: 10px;
}
/* nav bar */
.navbar {
  z-index: 100;
}
.navbar_list {
  position: fixed;
  top: -2px;
  padding: 0;
  list-style: none;
  margin: 0;
  background-color: transparent;
  font-weight: bold;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.navbar_item {
  display: inline;
  margin-right: 1rem;
}
.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0 0 20px 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
ul {
  padding: 0;
}
/*scrool bar*/
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background-color: bisque;
  border-radius: 200px;
}
body::-webkit-scrollbar-track {
  background-color: black;
}

/* the footer*/
footer {
  background-color: rgb(29, 31, 32);
}
.footer {
  margin-bottom: 0;
}

/* wave*/

.custom-shape-divider-top-1688258564 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1688258564 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 86px;
}

.custom-shape-divider-top-1688258564 .shape-fill {
  fill: beige;
}

/* media querries*/

@media only screen and (max-width: 522px) {
  a {
    font-size: 1.5rem;
  }
  a:hover {
    font-size: 2rem;
  }
  .custom-shape-divider-top-1688258564 svg {
    height: 50px;
  }
}

/*testing*/

body {
  height: 200vh;
}
